.Button {
  cursor: pointer;
  border: none;
}

.clear {
  padding: 0;
  background: none;
}

.transparent {
  border: 2px #000 solid;
  padding: 5px 15px;
  background: none;
  border-radius: 15px;
}

.theme-switcher {
  background: var(--inverted-btn-color);
  border-radius: 10px;
}

.classic {
  width: 100px;
  height: 30px;
  background: var(--inverted-btn-color);
  color: var(--inverted-color-font);
  border-radius: 10px;
  padding: 5px;
}

.warning{
  width: 130px;
  height: 30px;
  color:var(--white);
  border-radius: 10px;
  background-color:var(--warning-color);
}
